main {
    /* display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, auto); */
    margin-top: 64px;
}
/* .nossosServicos {
    grid-row-start: 1;
    grid-column: 1/13;
    text-align: center;
    font-family: var(--texto-logo);
    font-weight: 700;
    font-size: 48px;
} */

main h6 , h1{
    text-align: center;
}

.img__card {
    width: 72px;
    height: 72px;
}

.div_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: space-around;
    margin-top: 16px;
    padding-top: 24px;
    
}

