.titulo__principal{
    font-family: var(--texto);
    font-weight: 900;
    font-size: 24px;
}

.titulo{
    font-family: var(--texto);
    font-weight: 600;
    font-size: 32px;
}

.textoFooterTitulo{
    font-family: var(--texto);
    font-weight: 600;
    font-size: 22px;
    color: white;
}

.sub__titulo{
    font-family: var(--texto);
    font-weight: 600;
    font-size: 20px;
}


.texto{
    font-family: var(--texto);
    font-weight: 400;
    font-size: 16px;
}

.card{
    width: 300px;
    background-color:white;
    height: 200px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 8px;
    box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.087),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.125),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.155),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.185),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.223),
  100px 100px 80px rgba(0, 0, 0, 0.31);


}

.center{
    text-align: center;
}

.titulo_logo{
    font-family: var(--texto-logo);
    font-size: 24px;
}

.titulo_logo_footer{
    font-family: var(--texto-logo);
    color: white;
    font-size: 24px;
}